<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Item Indisponível</title>
</head>
<body>
    <div class="container">
        <h1>Item Indisponível</h1>
        <p>Infelizmente, o item selecionado está indisponível no momento.</p>
        
        <!-- Botão para voltar à tela inicial -->
        <button onclick="window.location.href='/'">Voltar à página inicial</button>
    </div>
</body>
</html>
